<h1>Reportes</h1>
<h4>Filtrar por categoría:</h4>

<div class="filter-options">
  <select name="report" id="report" class="report-select">
    <option value="Todas">Todas</option>
    <option value="Limpieza">Limpieza</option>
    <option value="Atención al cliente">Atención al cliente</option>
    <option value="Ubicación">Ubicación</option>
    <option value="Seguridad">Seguridad</option>
    <option value="Otras">Otras</option>
  </select>

  <div class="form-group">
    <%= link_to 'Filtrar', {controller: 'reports', action: 'filter'}, :class => 'btn btn-primary' %>
  </div>
</div>