<h1>Reportes</h1>
<h4>Filtrar por categoría:</h4>

<div class="filter-options">
  <%= form_tag "/reports/filter" do %>
    <div class="report-select">
      <%= select_tag("category", options_for_select(["Todas", "Limpieza", "Atención al cliente", "Ubicación", "Seguridad", "Otras"], :selected => @selected_category)) %>
    </div>

    <div class="form-group btn btn-primary">
        <%=  submit_tag 'Filtrar', :name => 'filter' %>
    </div>
  <% end %>
</div>